target/
**/target/

### IntelliJ IDEA ###
.idea
**/.idea
*.iws
**/*.iws
*.iml
**/*.iml
*.ipr
**/*.ipr

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/
**/.vscode/
